@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Outfit;
}

body {
    position: relative;
    z-index: 0;
    /* create stacking context */
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: linear-gradient(318deg,rgba(55, 27, 87, 1) 0%, rgba(25, 9, 61, 1) 47%, rgba(5, 30, 61, 1) 100%);
    z-index: -20;
    /* gradient layer */
}

body::after {
    content: "";
    position: fixed;
    inset: 0;
    backdrop-filter: blur(10px);
    z-index: -10;
    /* blur layer (above gradient, below content) */
}


.active hr {
    @apply block;
}

::-webkit-scrollbar {
    @apply w-2 h-0;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-full;
}

::-webkit-scrollbar-track {
    @apply bg-transparent;
}

@media (max-width:740px) {
    .active p {
        @apply text-gray-200 bg-primary
    }
}